/*!
 * Custom Styles for Spas.ng
 * Copyright 2019
 * Author: Nelson Atuonwu Nelson (nelson@Nelsonatuonwu.me)
 */

/*/////////////////
    TYPOGRAPHY
//////////////////*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

/*///////////////////
    CSS VARIABLES
////////////////// */

:root {
    --primary: #3F6279;
    --accent: #E15E87;
    --secondary: #cecccc;
    --main: #986181;
}


/*//////////////////////
    UTILITY CLASSES
//////////////////////*/
.flex-1 {
    flex: 1 1 0%
}

.mt-6 {
    margin-top: 8rem
}

.ml-6 {
    margin-left: 8rem
}

.mr-6 {
    margin-right: 8rem
}

.mb-6 {
    margin-bottom: 8rem
}

.my-6{

}

.pin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.pin-y {
    top: 0;
    bottom: 0
}

.pin-x {
    right: 0;
    left: 0
}

.pin-t {
    top: 0
}

.pin-r {
    right: 0
}

.pin-b {
    bottom: 0
}

.pin-l {
    left: 0
}

.f-w-200 {
    font-weight: 200;
}

.f-w-300 {
    font-weight: 300;
}

.f-w-400 {
    font-weight: 400;
}

.f-w-600 {
    font-weight: 600;
}

.bg-gradient {
    background: linear-gradient(90deg, var(--accent) 50%, var(--primary) 70%)
}

.rounded-corners {
    border-radius: 50px;
}

.rounded-corners-left{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.rounded-corners-right{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.rounded-corners-top{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.rounded-corners-bottom{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header-lg {
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-md {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-sm {
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-alternate {
    background: white;
    color: var(--primary);
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.7) 1px 2px .5rem;
}

.vertically-center {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.vertically-inverted {
    transform: translateY(-50%);
}

.bg-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*//////////////////////
    CUSTOM CLASSES
/////////////////////*/

.navigation-menu::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--light);
    height: 45px;
    margin-top: 10px;
}

.detail-section{
    min-height: 450px;
}


/*/////////////////////
    MODIFICATIONS
////////////////////*/
.nav-item {
    text-transform: uppercase;
    font-weight: 600;
}

.text-secondary{
    color: var(--secondary) !important;
}

.border-secondary{
    border-color: var(--secondary) !important;
}

.nav-item:not(:last-child)>.nav-link {
    border-right: solid 1px var(--primary);
    padding-right: 15px;
}

.nav-item.active>.nav-link {
    color: var(--primary) !important;
}

input::placeholder {
    font-weight: 200;
}

a{
    transition: 0.4s ease;
}

a:hover{
    color: var(--accent);
    text-decoration: none;

}



/*////////////////////
    MEDIA QUERIES
////////////////////*/
@media (max-width:575px) {
    .vertically-inverted {
        transform: translateY(0);
    }

    .navigation-menu::before{
        background: white;
        height: 40px;
    }
    .nav-item:not(:last-child)>.nav-link {
        border-right: solid 0 transparent;
    }
    .detail-section{
        min-height: 1000px;
    }
}

@media (min-width:576px) {
    .vertically-inverted {
        transform: translateY(0);
    }

    .navigation-menu::before{
        background: white;
        height: 40px;
    }
    .nav-item:not(:last-child)>.nav-link {
        border-right: solid 0 transparent;
    }
    .detail-section{
        min-height: 800px;
    }
}

@media (min-width:768px) {
    .vertically-inverted {
        transform: translateY(0);
    }
    .navigation-menu::before{
        background: white;
        height: 40px;
    }
    .nav-item:not(:last-child)>.nav-link {
        border-right: solid 0 transparent;
    }

    .detail-section{
        min-height: 500px;
    }
}

@media (min-width:992px) {
    .vertically-inverted {
        transform: translateY(-50%)
    }
    .navigation-menu::before{
        background: white;
        height: 40px;
    }
    .nav-item:not(:last-child)>.nav-link {
        border-right: solid 0 transparent;
    }
    .detail-section{
        min-height: 500px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }

    .vertically-inverted {
        transform: translateY(-50%);
    }

    .navigation-menu::before{
        background: var(--light);
        height: 45px;
    }

    .nav-item:not(:last-child)>.nav-link {
        border-right: solid 1px var(--primary);
    }
    .detail-section{
        min-height: 450px;
    }
}